<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cslg.finalab.dao.SysWinningMapper" >
  <resultMap id="BaseResultMap" type="com.cslg.finalab.model.SysWinning" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="award_name" property="awardName" jdbcType="VARCHAR" />
    <result column="award_level" property="awardLevel" jdbcType="VARCHAR" />
    <result column="award_image" property="awardImage" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="members" property="members" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, award_name, award_level, award_image, time, members, profile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_winning
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_winning
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cslg.finalab.model.SysWinning" >
    insert into sys_winning (id, name, award_name, 
      award_level, award_image, time, 
      members, profile)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{awardName,jdbcType=VARCHAR}, 
      #{awardLevel,jdbcType=VARCHAR}, #{awardImage,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{members,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cslg.finalab.model.SysWinning" >
    insert into sys_winning
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="awardName != null" >
        award_name,
      </if>
      <if test="awardLevel != null" >
        award_level,
      </if>
      <if test="awardImage != null" >
        award_image,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="members != null" >
        members,
      </if>
      <if test="profile != null" >
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="awardName != null" >
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardLevel != null" >
        #{awardLevel,jdbcType=VARCHAR},
      </if>
      <if test="awardImage != null" >
        #{awardImage,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="members != null" >
        #{members,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cslg.finalab.model.SysWinning" >
    update sys_winning
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="awardName != null" >
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardLevel != null" >
        award_level = #{awardLevel,jdbcType=VARCHAR},
      </if>
      <if test="awardImage != null" >
        award_image = #{awardImage,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="members != null" >
        members = #{members,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cslg.finalab.model.SysWinning" >
    update sys_winning
    set name = #{name,jdbcType=VARCHAR},
      award_name = #{awardName,jdbcType=VARCHAR},
      award_level = #{awardLevel,jdbcType=VARCHAR},
      award_image = #{awardImage,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      members = #{members,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- ==================== -->

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_winning
  </select>


  <!-- ==================== -->

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_project
  </select>
</mapper>